* {
	box-sizing: border-box;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
}
body {
	padding: 50px 5%;
	background-color: rgb(249,249,249);
}
img {
	width: 100%;
}
#card {
	margin-top: 50px;
	margin-bottom: 30px;

}
#card .images {
	width: 47%;
	margin-right: 6%;
	float: left;
}
#card .images img {
	border-radius: 15px;
}
#card .text {
	text-align: justify;
}
#circle {
	width: 100%;
	margin:40px 0;
}
#circle div {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid gray;
	background-color: rgb(228,228,228);
	display: inline-block;
	margin-right: 30px;
	position: relative;
	cursor: pointer;
}
#circle div span {
	position: absolute;
	top: 1px;
	left: 12px;
	font-size: 40px;
	color: white;
	font-weight: bold;
}
#carousel {
	width: 100%;
	margin-top: 40px;
}
#carousel div {
	width: 29.33%;
	margin-right: 6%;
	float: left;
}
#carousel div:last-child {
	margin-right: 0%;
}
#carousel div img {
	border-radius: 10px;
}
